<!-- For Tag helper -->
@model BSBAdminDashboard.Models.DepartmentVM
@{
    ViewBag.Title = "Create";
}

<a asp-controller="Employee" asp-action="Index"><input type="button" class="btn btn-primary" value="Back To List" /></a>

<h2>Create Department</h2>

@*HTML*@
@*<form action="/Department/Create" method="post" class="form-group">
        <label>Department Name</label>
        <input type="text" name="DepartmentName" class="form-control" />

        <br />

        <label>Department Code</label>
        <input type="text" name="Departmentcode" class="form-control" />

        <br />

        <center>
            <input type="submit" class="btn btn-primary" value="Save" />
            <input type="reset" class="btn btn-danger" value="Reset" />
        </center>
    </form>*@

@*HTML Helper*@
@*@using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @class = "form-group"}))
    {
        @Html.TextBoxFor(a=>a.DepartmentName, new { @class = "form-control"})
    }*@

@*Tag Helper The better way*@
<form asp-controller="Department" asp-action="Create" method="post" class="form-group">
    <label asp-for="DepartmentName">Department Name</label>
    <input type="text" asp-for="DepartmentName" class="form-control" />
    <span class="text-danger" asp-validation-for="DepartmentName"></span>

    <br />

    <label asp-for="DepartmentCode">Department Code</label>
    <input type="text" asp-for="DepartmentCode" class="form-control" />
    <span class="text-danger" asp-validation-for="DepartmentCode"></span>

    <br />

    <center>
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="reset" class="btn btn-danger" value="Reset" />
    </center>
</form>

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


